body {
  background-color: #409d9b;
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 5.625rem;
  margin: 100px auto 20px;
}

h2 {
  color: #034561;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 30px;
}

h3 {
  color: #4fb783;
  padding-bottom: 10px;
}

p {
  line-height: 2;
  padding: 20px;
}

hr {
  border: dotted gray 5px;
  border-bottom: none;
  margin: 60px auto;
  width: 4%;
}

.cloud-1 {
  position: absolute;
  top: 130px;
  right: 290px;
  width: 100px;
}

.cloud-2 {
  position: absolute;
  left: 250px;
  top: 270px
}

.subheading {
  color: #EAF6F6;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.top-container {
  color: #EAF6F6;
  padding-bottom: 20px;
}

.gif {
  margin: 100px auto 20px;
  border-radius: 5%;
  width: 200px;
}

.middle-container {
  background-color: white;
  padding: 100px 0;
}

.profile-picture {
  border-radius: 100%;
  width: 15%;
}

.intro-text {
  width: 30%;
  margin: 0 auto;
}

.skill-row {
  margin: 50px auto;
  width: 51%;
  text-align: left;
}

.skill-img-odd {
  float: left;
  margin: 0 30px 45px 0;
  width: 30%;
}

.skill-img-even {
  float: right;
  margin: 30px 0 45px 30px;
  width: 30%;
}

.contact-me {
  padding-bottom: 30px;
}

.contact-me-title {
  padding-bottom: 20px;
}

.contact-me-text {
  width: 30%;
  margin: 40px auto 60px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
  font-family: 'Nanum Gothic', sans-serif;
   font-size: 20px;
   font-weight: 400;
   padding: 19px;
   background-color: #FEEB97;
   -webkit-box-shadow: 0 0 5px 0 #000000;
   -moz-box-shadow: 0 0 5px 0 #000000;
   box-shadow: 0 0 5px 0 #000000;
   text-shadow: 1px 1px 20px #FFFFFF;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #4BF783;
   border: solid #FFFFFF 2px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  background-color: #409d9b;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  height: 125px;
  margin-top: 30px;
}

.footer-link {
  color: #034561;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 30px 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

.copyright {
  font-size: 0.75rem;
  padding-top: 30px;
}



/*
My theme colors:
dark blue: #034561;
light blue: #409d9b;
green: #4fb783;
yellow: #feeb97;
*/
/*
Font famillies:
font-family: 'Berkshire Swash', cursive;  *I don't like this font
font-family: 'Dawning of a New Day', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Merriweather', serif;
font-family: 'Nanum Gothic', sans-serif;
*/
